<div class="list-group">
  <a class="list-group-item" href="<%= emails_path %>">E-mails</a>
  <a class="list-group-item" href="<%= campaigns_path %>">Campaigns</a>
  <a class="list-group-item" href="<%= settings_path %>">Settings</a>
</div>